@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Wanna Play Some Cards?</h1>
        <br />
        <p><a href="/Home/Cards/" target="_blank" class="btn btn-primary btn-lg">See Your Hand &raquo;</a></p>

    </div>    
